<div class="location">
    <app-carousel></app-carousel>
    <!-- intro section -->
<div class="intro">
    <div class="container">
            <div class="row">
        <div class="col-md-6">
            <div class="story">
                <!-- <div class="story_image">
                    <img src="../../../assets/images/acacia_tree.png" alt="" width="150px">
                </div> -->
               <h6> <i>Ewuaso  Kedong</i> </h6>
               <p>Fast developing area Close dry port and the special economic zone , red soil, piped water and electricity nearby proximity to critical services – administration, schools</p>
                <p>Beautiful scenary</p>
                <p>Suitable for farming, development or speculation </p>
                <p>40 minutes drive from Ngong town and boardering Kiambu County</p>
                <P>All plots within 6KM radius from Ewuaso Kedong town </P>
            </div>
            
        </div>
        <div class="col-md-6">
            <div class="story_banner">
                <img src="../../../assets/images/display_4.jpg" alt="">
            </div>
    
        </div>
    </div>

    </div>

    
    
</div>

<!-- end of intro sections -->

</div>






<!-- end of intro sections -->


<!-- plots section -->
<!-- end of plots sections -->

<!-- form start -->
<!-- end of form section -->
