<div class="location">
    <app-carousel></app-carousel>
    <!-- intro section -->
<div class="intro">
    <div class="container">
            <div class="row">
        <div>
            <div class="story">
                <!-- <div class="story_image">
                    <img src="../../../assets/images/acacia_tree.png" alt="" width="150px">
                </div> -->
               <h2> <i> Why choose {{data.name}}</i> </h2>
              <ul *ngFor="let item of points">
                <li><p>{{item}}</p></li>
              </ul>
            </div>
            
        </div>
        <!-- <div class="col-md-6">
            <div class="story_banner">
                <img src="../../../assets/images/display_4.jpg" alt="">
            </div>
    
        </div> -->
    </div>

    </div>

    
    
</div>

<!-- end of intro sections -->
<!-- plots section -->

<div class="plots">
    <section class="sale_section layout_padding">
        <div class="container-fluid">
          <div class="heading_container">
            <h2>
              Our properties -{{data.name}}
            </h2>
            <p>
              {{data.intro2}}
            </p>
          </div>
          <div class="row">
            <div class="col-sm-6 col-md-4" *ngFor="let item of data.properties;  let i = index" [attr.data-index]="i">
              <div class="box">
                <div class="img-box">
                  <img src= {{item.land_image}} alt="">
                </div>
                <div class="detail-box">
                  <h6>
                    {{item.name}}
                  </h6>
                  <div class="price_btn">
                    <h4>KES <strong>{{item.price}}</strong> </h4>
                    <h5>Installments: <strong>{{item.installment}}</strong> <small>(6 months)</small></h5>
                    <!-- <p class="installments">6 months installments</p> -->
                  </div>
                  <p>
                    {{item.intro}}
                  </p>
                
                  <div class="btn-box">
                    <a (click)="open(i)">
                      View Details
                    </a>
                  </div>
                </div>
              </div>
            </div>
       
         
         
           
           
          </div>
          <!-- <div class="btn-box">
            <div class="btn-box">
                <a href="">
                  Book now
                </a>
              </div>
          </div> -->
        </div>
      </section>
</div>
<!-- end of plots sections -->

</div>









<!-- plots section -->
<!-- end of plots sections -->

<!-- form start -->
<!-- end of form section -->
