<div class="properties">
    <!-- <p>properties-details works!</p> -->
    <!-- fancy introduction -->

<!--  with price -->
<!-- end of fancy intro -->

<!-- main content -->
<!-- <div class="main_container">
    <div class="row container">
        <div class="col-md-6">
            <div class="main_container_image">
                <img src="../../../assets/images/semitas1_800x260.jpg" alt="" width="600px">
            </div>
        </div>
        <div class="col-md-6">
            <p><i>Suitable for farming, development or speculation </i> </p>
        </div>
        
    </div>
    <div class="row">
        <div class="col-md-6">
            <p>700 M from the  tarmac</p>
            <p>newly tarmacked Ngong - Suswa , greater Southern Bypass</p>
        </div>
        <div class="col-md-6">
            <div class="main_container_image">
                <img src="../../../assets/images/semitas1_800x260.jpg" alt="" width="600px">
            </div>
        </div>

    </div>

</div> -->
<!-- end of mani content -->

<div class="features">
    <app-features [parent]="pero" [land]="_id"></app-features>
</div>

<!-- start of form -->
<div class="forms">
    <app-contact-form></app-contact-form>
</div>
<!-- end of form -->

</div>



