<div class="conctainer">
    <div class="display">
        <div class="row">
            <div class="col-md-6">
                <div class="story">
                    <div class="story_image">
                        <img src="../../../assets/images/acacia_tree.png" alt="" width="150px">
                    </div>
                   <h6> <i>Ewuaso  Kedong</i> </h6>
                   <p>{{desc}}</p>
                   <div (click)="open(0)" class="btn-box">
                  
                       More 
                   
                  </div>
                </div>
                
            </div>
            <div class="col-md-6">
                <div class="story_banner">
                    <img src="../../../assets/images/display_4.jpg" alt="">
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="story_banner">
                    <img src="../../../assets/images/display_3.jpg" alt="">
                </div>

            </div>
            <div class="col-md-6">
                <div class="story">
                    <div class="story_image">
                        <img src="../../../assets/images/acacia_tree.png" alt="" width="150px">
                    </div>
                   <h6> <i>Kiambu</i> </h6>
                   <p>{{desc2}}</p>
                   <div (click)="open(1)" class="btn-box">
                  
                       More
                   
                  </div>
                </div>
                
            </div>
     
        </div>
    </div>
</div>