/*--------------------------------------------------------------------- File Name: style.css ---------------------------------------------------------------------*/


/*--------------------------------------------------------------------- import Fonts ---------------------------------------------------------------------*/



/*--------------------------------------------------------------------- import Files ---------------------------------------------------------------------*/
/* 
@import url(font-awesome.min.css);
@import url(owl.carousel.min.css); */

/*--------------------------------------------------------------------- basic ---------------------------------------------------------------------*/

// 


/*---------------------------- preloader area ----------------------------*/



/** end building **/


/** services **/

.services_main {
     padding-top: 90px;
     // background: url(../images/service_bg.jpg);
     background-size: 100% 100%;
     background-position: center center;
     background-repeat: no-repeat;
     padding-bottom: 100px;
}

.services_main .titlepage {
     padding-bottom: 60px;
}

.services_main .titlepage span {
     color: #0f0f0e;
     font-size: 17px;
     line-height: 23px;
     padding-top: 15px;
     display: block;
}

.lisertab .servi_tab {
     border: inherit;
     border-radius: 0;
     padding: 12px 27px;
     line-height: 20px;
     font-size: 17px;
}

.lisertab .servi_tab.active {
     background: #7f1410e6;
     color: #fff;
}

.lisertab .servi_tab:focus,
.lisertab .servi_tab:hover {
     background: #7f1410e6;
     color: #fff;
}

.border_none {
     border: none;
}

.back_bg {
     background: transparent;
     border: inherit;
     padding-top: 70px;
}

.services_main .services_img {
     position: relative;
     margin: 0 auto;
}

.services_main .services_img figure {
     margin: 0;
}

.services_main .services_img figure img {
     width: 100%;
}

.ho_dist {
     position: absolute;
     z-index: 9999;
     top: 0px;
     right: 0;
     bottom: 0;
     left: 0;
     transition: .5s ease;
     background-color: #82171287;
     border-radius: 381px;
     margin: 0 auto;
     opacity: 0;
}

.ho_dist span {
     display: flex;
     align-items: center;
     justify-content: center;
     bottom: 0;
     top: 0;
     position: absolute;
     right: 0;
     left: 0;
     flex-wrap: wrap;
     font-size: 26px;
     color: #fff;
     font-weight: 600;
}

.ho_dist p {
     display: flex;
     align-items: center;
     justify-content: center;
     bottom: 0;
     top: 0;
     position: absolute;
     right: 0;
     left: 0;
     flex-wrap: wrap;
     font-size: 12px;
     color: #fff;
     font-weight: 600;
}

.ho_dist:hover {
     opacity: 1;
}

.padding_0 {
     padding: 0
}

.margin_top70p {
     margin-top: 170px;
}

.margin_left20 {
     margin-left: -20px;
}

.margin_right20 {
     margin-right: -20px;
}

.margin_top170 {
     margin-top: -170px;
}

.margin_left60 {
     margin-left: -108px;
     margin-right: 108px;
}

.margin_top40 {
     margin-top: -62px;
}


/** end services **/


/** instant **/



/** end instant **/


/** footer **/




/** end footer **/


/*- - ener page css--*/




/** contact **/


/** end contact **/


/// responciveness
/*--------------------------------------------------------------------- File Name: responsive.css ---------------------------------------------------------------------*/

@media (min-width: 1200px) and (max-width: 1320px) {
     .about_box_img {
         margin-right: -20px;
     }
 }
 
 @media (min-width: 992px) and (max-width: 1199px) {
     ul.email li {
         padding: 0 9px;
     }
     .banner_main .bg_white h1 {
         font-size: 60px;
     }
     .carousel-indicators {
         margin-left: 12%;
     }
     .about_box_img {
         margin-right: 35px;
     }
     .about_box_text p {
         font-size: 17px;
         line-height: 26px;
     }
     .margin_left60 {
         margin-left: -80px;
         margin-right: 80px;
     }
     .instant .titlepage h2 {
         font-size: 69px;
         line-height: 83px;
     }
     .reader h3 {
         font-size: 26px;
     }
 }
 
 @media (min-width: 768px) and (max-width: 991px) {
     .d_none {
         display: none !important;
     }
     .banner_main .bg_white h1 {
         font-size: 39px;
         line-height: 40px;
     }
     .carousel-indicators {
         margin-left: 13%;
     }
     .about_box_img {
         margin-right: 35px;
     }
     .about_box_text h3 {
         padding-bottom: 2px;
         font-size: 20px;
     }
     .about_box_text p {
         font-size: 17px;
         line-height: 26px;
     }
     .ho_dist span {
         font-size: 18px;
     }
     .margin_left60 {
         margin-left: -32px;
         margin-right: 32px;
     }
     .instant .titlepage h2 {
         font-size: 41px;
         line-height: 50px;
     }
     ul.social_icon li {
         padding-right: 117px;
     }
     .reader h3 {
         font-size: 20px;
     }
     ul.xple_menu li a {
         font-size: 14px;
     }
 }
 
 @media (min-width: 576px) and (max-width: 767px) {
     .d_none {
         display: none !important;
     }
     .logo {
         text-align: center;
         display: block;
     }
     .banner_main .bg_white h1 {
         font-size: 30px;
         line-height: 40px;
     }
     .carousel-indicators {
         margin-left: 14%;
     }
     .about_box_img {
         padding: 35px;
         margin-right: 0px;
     }
     .titlepage h2 {
         font-size: 23px;
         line-height: 29px;
     }
     .lisertab .servi_tab {
         padding: 12px 22px;
     }
     .ho_dist span {
         font-size: 18px;
     }
     .padding_0 {
         padding: 15px
     }
     .margin_top70p {
         margin-top: 0px;
     }
     .margin_left20 {
         margin-left: 0px;
     }
     .margin_right20 {
         margin-right: 0px;
     }
     .margin_top170 {
         margin-top: 0px;
     }
     .margin_left60 {
         margin-left: 0px;
         margin-right: 0px;
     }
     .margin_top40 {
         margin-top: 0px;
     }
     .instant .titlepage h2 {
         font-size: 54px;
         line-height: 68px;
     }
     .instant_img {
         margin-top: 30px;
     }
     ul.social_icon li {
         padding-right: 90px;
     }
     .reader p {
         padding-bottom: 20px;
     }
     .main_form {
         padding-bottom: 30px;
     }
     .padddd {
         padding-right: 15px;
     }
 }
 
 @media (max-width: 575px) {
     header {
         padding: 33px 10px;
     }
     .d_none {
         display: none !important;
     }
    
     .ho_dist span {
         font-size: 18px;
     }
     .padding_0 {
         padding: 15px
     }
     .margin_top70p {
         margin-top: 0px;
     }
     .margin_left20 {
         margin-left: 0px;
     }
     .margin_right20 {
         margin-right: 0px;
     }
     .margin_top170 {
         margin-top: 0px;
     }
     .margin_left60 {
         margin-left: 0px;
         margin-right: 0px;
     }
     .margin_top40 {
         margin-top: 0px;
     }
     .instant .titlepage h2 {
         font-size: 43px;
         line-height: 53px;
     }
     .instant_img {
         margin-top: 30px;
     }
     ul.social_icon li {
         padding-right: 15px;
     }
     .reader h3 {
         padding-top: 30px;
     }
     .main_form {
         padding-bottom: 30px;
     }
     .padddd {
         padding-right: 15px;
     }
 }
 