<section class="sale_section layout_padding">
    <div class="container-fluid">
      <div class="heading_container">
        <h2>
          Land For Sale
        </h2>
        <p>
          We traverse the country to identify suitable real estate investment opportunities so you don’t have to
        </p>
      </div>
      <div class="row">
        <div class="col-sm-6 col-md-4">
          <div class="box">
            <div class="img-box">
              <img src="../../../assets/images/land_one.jpg" alt="">
            </div>
            <div class="detail-box">
              <h6>
                Ewuaso  Kedong
              </h6>
              <p>
                -	Fast developing area Close dry port and the special economic zone , red soil, piped water and electricity nearby proximity to critical services – administration, schools
              </p>
              <a [routerLink]="['/properties']">View Detail</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="box">
            <div class="img-box">
              <img src="../../../assets/images/land_2.jpg" alt="">
            </div>
            <div class="detail-box">
              <h6>
                Semitas Gardens 
              </h6>
              <p>
                700 M from the  tarmac – 
                           newly tarmacked
                               Ngong - Suswa , greater Southern Bypass

              </p>
              <a href="">
                View Detail
              </a>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="box">
            <div class="img-box">
              <img src="../../../assets/images/land_3.jpg" alt="">
            </div>
            <div class="detail-box">
              <h6>
                Aberani Gardens 
              </h6>
              <p>
                3.3 KM from  the tarmac –  newly tarmacked
                Ngong - Suswa , greater Southern Bypass
                
              </p>
              <a href="">
                View Detail
              </a>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="box">
            <div class="img-box">
              <img src="../../../assets/images/land_4.jpg" alt="">
            </div>
            <div class="detail-box">
              <h6>
                Valesi Gardens 
              </h6>
              <p>
                On tarmac –  newly tarmacked
                Ngong - Suswa , greater Southern Bypass right on tarmac road (Greater Southern Bypass)
              </p>
              <a href="">
                View Detail
              </a>
            </div>
          </div>

        </div>
        <div class="col-sm-6 col-md-4">
          <div class="box">
            <div class="img-box">
              <img src="../../../assets/images/land_6.jpg" alt="">
            </div>
            <div class="detail-box">
              <h6>
                Terra Gardens 
              </h6>
              <p>
                1.8 KM from the newly tarmacked
                Ngong - Suswa , greater Southern Bypass right on tarmac road (Greater Southern Bypass)                
              </p>
              <a href="">
                View Detail
              </a>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="box">
            <div class="img-box">
              <img src="../../../assets/images/land_5.jpg" alt="">
            </div>
            <div class="detail-box">
              <h6>
                Kiambu
              </h6>
              <p>
                Close proximity to Two Rivers Mall
                 Easy accessibility and well developed infrasctructure. High growth areas

 
                 Less than 15 KM from Nairobi CBD

              </p>
              <a href="">
                View Detail
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="btn-box">
        <a href="">
          Find More
        </a>
      </div>
    </div>
  </section>